"*":
  "atom-material-ui":
    accentColor: "Blue"
    compactTreeView: true
    depth: true
    disableAnimations: true
    fontSize: "Big"
    rippleAccentColor: true
    showTabIcons: "Show on all tabs"
    slimScrollbar: true
    tabSize: "Big"
    useRobotoInUI: true
  "browser-refresh-on-save":
    safari: false
    scripts: {}
  "color-picker":
    abbreviateValues: true
    preferredFormat: "HEX"
  core:
    themes: [
      "atom-material-ui"
      "base16-tomorrow-dark-theme"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "3dd2222c-c7ea-ebf2-c4fb-86c36ffbe4ed"
  "git-plus": {}
  react: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
