"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake:
      enabled: false
  "atom-material-ui":
    colors:
      abaseColor:
        red: 28
        green: 140
        blue: 228
        alpha: 1
      genAccent: true
      predefinedColor: "Blue"
    fonts:
      fontSize: 15
    tabs:
      compactTabs: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      animations: false
      panelContrast: true
      panelShadows: true
  "browser-refresh-on-save":
    chrome: false
    safari: false
    scripts: {}
    vivaldi: false
  core:
    disabledPackages: [
      "language-java"
      "welcome"
      "styleguide"
      "metrics"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  cssbeautify: {}
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    useShadowDOM: false
  emmet: {}
  "exception-reporting":
    userId: ""
  fonts: {}
  "go-to-view": {}
  ignoredNames: [
    ".git"
    ".hg"
    ".svn"
    ".DS_Store"
    "Thumbs.db"
    ".codekit-cache"
    "bower_components"
    "node_modules"
  ]
  livereload: {}
  minimap:
    absoluteMode: true
    scrollAnimation: true
  "nuclide-format-js": {}
  pigments: {}
  react: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
